body {
	background-color: #ED1C24;
}
#mainContent {
	background-color: #FDFFFC;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 80%;
	height: 100vh;
	margin: auto;
}
#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav {
	width: 80%;
	margin: auto;
	background-color: #235789;
}
li {
	float: left;
}
li a {
	display: block;
	padding: 8px;
	background-color: #235789;
}